<div class="workbench">
    <div class="leftcolumn">
        <div class="screen-list-container">
          <div class="header-bar">
          	Screens
          	<%= link_to new_screen_path, remote: true do %>
	          <div class="add-button">Add</div>
	        <% end %>
          </div>
	      <% @app.screens.each do |screen| %>
	        <%= link_to screen, remote: true do %>
	          <div class="item" data-screen-id="<%=screen.id%>"> <%= screen.name %> </div>
	        <% end %>
	      <% end %>
        </div>
        <div class="view-list-container">
            <div class="box" data-pointer="view">View</div>
            <div class="box" data-pointer="table">Table</div>
        </div>
    </div>
    <div class="midcolumn">
        <div id="phone-container">
            <div id="phone"></div>
        </div>
    </div>
    <div class="rightcolumn">
        <p>Properties</p>
        <div id="click-position">Click</div>
        <div id="a-position">Absolute</div>
        <div id="r-position">Relative</div>
    </div>
</div>
<div id="dragger"></div>

<%= javascript_tag do %>

  console.log("First Screen Views:"+<%= @app.screens.first.views.count %>);
  
  <% @app.screens.first.views.each do |view| %>

      var $newDiv = $("<div/>") // creates a div element
        .addClass("box")
        .data("id", <%=view.id%>)
        .css({
            "left": 	<%=view.origin_x%>,
            "top": 		<%=view.origin_y%>,
            "width": 	<%=view.width%>,
            "height": 	<%=view.height%>,
        });

    $("#phone").append($newDiv);
  <% end %>
<% end %>